*{
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       color: black !important;
}

nav{
       background-color: white;
}

ul{
       list-style: none;     
       margin-left: -2rem; 
}

a:link{
       text-decoration: none;
}

.block {
       max-height: 200px;
       overflow-y: auto;
}

.topic{
       margin-bottom: 3px;
       font-size: 15px;
}


img{
       width: 70px;
       height: 70px;
       object-fit: cover;
       border-radius: 50%;
}

/* Home Start */

main{
       margin: 3rem 0rem;
}
.welcome{
       justify-content: center;
       align-items: center;
       margin: 5rem 0rem;
}

.welcome h1{
       font-size: 80px;
       font-weight: bold;
}

.welcome h3{
       font-size: 40px;
}

.welcome-image{
       background-image: url('https://images.unsplash.com/photo-1551033406-611cf9a28f67?w=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cHJvZ3JhbW1lcnxlbnwwfHwwfHx8MA%3D%3D');
       margin-top: 3rem;
       height: 500px;
       width: 530px;
       object-fit: cover;
       border-radius: none;
}

